---
import BaseHead from "../components/BaseHead.astro";
import StructuredData from "../components/StructuredData.astro";

interface Props {
	title?: string;
	description?: string;
}

const { 
	title = "Chainstellar – Portfolio", 
	description = "Creative Writer & Technical Analyst in the blockchain ecosystem" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
   <head>
      <BaseHead title={title} description={description} />
      <StructuredData />
   </head>
   <body>
      <slot />
   </body>
</html>

<style is:global>
   @import "../index.css";
</style>
